html {
    scroll-behavior: smooth;
}

body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;

}


.centralização-div {

    margin: 30px auto;
    text-align: center;
    padding: 15px;


}

.alinhamento-paragrafo {

    text-align: justify;
    line-height: 30px;
    margin: 10px auto;
    width: 900px;
    font-size: 18px;

}

.tamanho-imagem {

    width: 500px;

}

.cor-fundo {

    background-color: #1c81c0;

}

.destaque-azul {

    color: #1c81c0;
    font-weight: bold;

}

.destaque-amarelo {

    color: #fff81b;
    font-weight: bold;

}

.topo-pagina {

    background-color: #afddfb;
    margin: 0px auto;
    padding: 12px;
    word-spacing: 10px;
    text-align: center;

}

.topo-pagina a {

    text-decoration: none;
    border-bottom: 3px solid red;
    font-size: 17px;
}

.logotipo {

    width: 120px;

}


h2 {

    color: #ffffff;

}


#servicos p {

    text-align: center;
    color: #ffffff;
    width: 800px;

}

#listas {

    width: 150px;
    margin: 20px auto;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

#contato {
    margin-bottom: 0px;
}

#contato a {

    background-color: white;
    border-radius: 3px;
    line-height: 45px;
    padding: 5px;

}

#contato p {

    color: #ffffff;
    font-size: 19px;
    background-color: #1d1d1d;
    padding: 15px;

}